
/* Robots */
.slick-slide:focus {
	outline: none;
}

.theme-type {
	padding-bottom: 10px;
	position: relative;
}

.theme-image {
	height: 100%;
	position: absolute;
	text-align: center;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 32%;
	-webkit-animation: robotDrop cubic-bezier(.68,1.81,.2,.66) 0.4s;
	-webkit-animation-iteration-count: 1;
	-moz-animation: robotDrop cubic-bezier(.68,1.81,.2,.66) 0.4s;
	-moz-animation-iteration-count: 1;
	-o-animation: robotDrop cubic-bezier(.68,1.81,.2,.66) 0.4s;
	-o-animation-iteration-count: 1;
	-ms-animation: robotDrop cubic-bezier(.68,1.81,.2,.66) 0.4s;
	-ms-animation-iteration-count: 1;
	animation: robotDrop cubic-bezier(.68,1.81,.2,.66) 0.4s;
	animation-iteration-count: 1;
}

.hide-bot {
	-webkit-transform: translate(0px,-100%);
	transform: translate(0px,-100%);
}

.theme-image img {
	bottom: 5px;
	height: auto;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	width: 100%;
}

.theme-text {
    float: right;
    padding-bottom: 60px;
    width: 68%;

    .button {
    	display: inline-block;
    }
}

/* conveyor belt */

.slider-nav {
	border: 5px solid lighten( $color__teal, 10% );
	border-radius: 80px;
	height: 52px;
	position: relative;
	text-align: center;
}

.slider-nav-bg {
	background: url(assets/img/conveyor-roller.png) center center repeat-x;
	bottom: 0;
	left: 70px;
	position: absolute;
	right: 70px;
	top: 0;
}

.slider-nav:before,
.slider-nav:after {
	background: url(assets/img/gear.svg) 0 0 no-repeat;
	background-size: 100% 100%;
	border-radius: 90px;
	content: "";
	display: block;
	height: 86px;
	position: absolute;
	top: -22px;
	width: 86px;
	-moz-animation: gearsSpinning cubic-bezier(0,.99,.58,.98) 0.5s infinite;
	-webkit-animation: gearsSpinning cubic-bezier(0,.99,.58,.98) 0.5s infinite;
	-ms-animation: gearsSpinning cubic-bezier(0,.99,.58,.98) 0.5s infinite;
	animation: gearsSpinning cubic-bezier(0,.99,.58,.98) 0.5s infinite;
}

.slider-nav:before {
	left: -20px;
}

.slider-nav:after {
	right: -20px;
}

/* gears spinning animation */

.slider-nav:not(.gears-spinning):before,
.slider-nav:not(.gears-spinning):after {
	-moz-animation-name: none;
	-webkit-animation-name: none;
	-ms-animation-name: none;
	animation-name: none;
}

/* Navigation buttons */

.next-type,
.prev-type {
	cursor: pointer;
	display: inline-block;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.8;
	}
}

.next-type {
	margin-left: 10px;
	margin-right: 10px;
	&:before {
		content: "\203A";
	}
}

.prev-type {
	&:before {
		content: "\2039";
	}
}

.slider-lever .lever {
	position: absolute;
	right: 25px;
	bottom: 0;
	height: 150px;
	transform: rotate( -30deg );
	-webkit-transition: right 0.2s, transform 0.2s;
	-moz-transition: right 0.2s, transform 0.2s;
	transition: right 0.2s, transform 0.2s;
}

.slider-lever.turned .lever {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	transform: rotate(30deg);
	right: -25px;
}

/* Keyframes */

/* robot dropping */
@keyframes robotDrop{
	0% {
		transform:  translate( 0, -100% );
	}
	100% {
		transform:  translate( 0, 0 );
	}
}

@-moz-keyframes robotDrop{
	0% {
		-moz-transform:  translate( 0, -100% );
	}
	100% {
		-moz-transform:  translate( 0, 0 );
	}
}

@-webkit-keyframes robotDrop {
	0% {
		-webkit-transform:  translate( 0, -100% );
	}
	100% {
		-webkit-transform:  translate ( 0, 0 );
	}
}

@-o-keyframes robotDrop {
	0% {
		-o-transform:  translate( 0, -100% );
	}
	100% {
		-o-transform:  translate( 0, 0);
	}
}

@-ms-keyframes robotDrop {
	0% {
		-ms-transform:  translate( 0, -100% );
	}
	100% {
		-ms-transform:  translate( 0, 0 );
	}
}

/* gears spinning animation */

@keyframes gearsSpinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@include mobile {

	#types {
		h2 {
			float: none;
			text-align: center;
			width: 100%;
		}

		h3 {
			font-size: 1.6em;
			margin-bottom: 0;
		}

	}

	.theme-type {
		text-align: center;

		p {
			text-align: left;
		}
	}

	.theme-text,
	.theme-image {
		width: 100%;
		float: none;
	}

	.theme-image {
		background-color: fade-out( $color__teal, 0.8 );
		border-radius: 150px;
		height: 150px;
		overflow: hidden;
		margin: auto;
		position: relative;
		width: 150px;
	}

	.theme-image img {
		bottom: auto;
		height: auto;
		left: 50%;
		margin-left: -100px;
		max-height: 10000px;
		max-width: 10000px;
		position: absolute;
		width: 200px;
	}

	.next-type,
	.prev-type,
	.slider-nav {
		display: none;
	}
}

