#download-all {
	background-color: $color__teal-light;
	padding: $size__gutter/2 0;

	::after {
		clear: both;
		display: block;
		width: 100%;
		content: '';
	}

	.gear {
		position: absolute;
		left: -100px;
		bottom: -202px;
		width: 343px;
		transform: rotate(39deg);

			.cog, .center {
				fill: $color__offwhite;
			}

			.center {
				stroke: $color__offwhite;
				stroke-width: 5;
			}
	}

	.content-wrapper {
		float: right;
		max-width: 500px;
	}

	h2 {
		color: lighten($color__navy, 10%);
		position: relative;
		z-index: 4;
	}

	p {
		margin-top: 0;
		position: relative;
		z-index: 4;
	}

	.button {
		display: inline-block;
	}
}
