#types {
	background-color: $color__navy;
	color: $color__offwhite;

	a {
		color: $color__offwhite;
	}

	h2 {
		float: right;
		margin: 0;
		width: 68%;
	}

	h3 {
		color: $color__teal;
	}
}

.theme-slider {
	clear: both;
}

#download-all {
	background-color: $color__teal;
	text-align: center;

	h4 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}

	.button {
		display: inline-block;
	}
}