#base {
	background-color: $color__navy-light;
	color: $color__offwhite;

	.wrap {
		position: relative;

		&::before,
		&::after {
			content: "";
			display: table;
		}

		&::after {
			clear: both;
		}
	}
}


#types {
	background-color: $color__navy;
	color: $color__offwhite;
	padding-bottom: 40px;
	padding-top: 40px;

	a {
		color: $color__offwhite;
	}

	h2 {
		color: $color__teal-light;
	}

	.wrap {
		max-width: 1400px;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;

		&::before,
		&::after {
			content: "";
			display: table;
		}

		&::after {
			clear: both;
		}
	}

	.types-row {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.theme-type {
	position: relative;

	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.theme-image {
	float: left;
	position: relative;
	width: 46%;

	.type-layout {
		height: auto;
		position: relative;
		width: 100%;
	}

	.large-robot {
		bottom: -20px;
		left: -30px;
		position: absolute;
	}

	.mobile-robot {
		display: none;
	}
}

.theme-text {
	float: right;
	width: 50%;

	p {
		margin-top: 0;
	}
}

/**
 * Media Queries
 */

@include desktop {
	#types .types-row {
		padding-bottom: 3em;

		.theme-type {
			width: 48%;

			&:nth-child(1) {
				float: left;
			}

			&:nth-child(2) {
				float: right;
			}
		}
	}

	.types-row:nth-child(even) {
		.theme-image {
			float: right;
		}

		.theme-text {
			float: left;
		}

		.large-robot {
			left: auto;
			right: -30px;
		}
	}
}


@include desktop-max {
	#types .theme-type {
		float: none;
		padding-bottom: 4em;
		width: 100%;

		&:nth-child(even) {
			.theme-image {
				float: right;
			}

			.theme-text {
				float: left;
			}

			.large-robot {
				left: auto;
				right: -30px;
			}
		}

		.theme-type-title,
		.theme-text {
			text-align: center;
		}

		.theme-text p {
			text-align: left;
		}
	}
}


@include mobile {

	#base {
		h2,
		.theme-text {
			text-align: center;
		}

		p {
			text-align: left;
		}
	}

	.theme-text {
		float: none;
		width: 100%;
	}

	.theme-image {
		background-color: rgba(80, 158, 163, 0.8);
		border-radius: 150px;
		float: none !important;
		height: 150px;
		overflow: hidden;
		margin: auto;
		position: relative;
		width: 150px;

		.standard-robot {
			display: none;
		}

		.mobile-robot {
			display: block;

			svg {
				bottom: 0;
				height: 150px;
				left: 0;
				margin: 0;
				max-height: 100%;
				width: 150px;
			}
		}
	}
}