#download-all {
	background-color: $color__teal-light;
	padding: 20px;

	::after {
		clear: both;
		display: block;
		width: 100%;
		content: '';
	}

	.gear {
		position: absolute;
		left: -100px;
		bottom: -202px;
		width: 343px;
		transform: rotate(39deg);

			.cog, .center {
				fill: $color__offwhite;
			}
	}

	.content-wrapper {
		float: right;
		max-width: 500px;
	}

	h4 {
		margin: 0;
	}

	p {
		margin-top: 0;
	}

	.button {
		display: inline-block;
	}
}
