@include mobile {

	/* Don't display pipes! */
	#pipe-main-left,
	#pipe-main-right,
	.stretchy-pipe,
	#pipe-tap,
	#pipe-tap-2 {
		display: none;
	}

	/* Flip logo */
	#components-logo {
		margin-left: -10px;
		transform: rotate(90deg);
		transform-origin: top left;
		position: absolute;
		width: 480px;
		margin-right: 200px;
		top: 0;
	}

	.site-description {
		margin-top: 0;
	}

	.intro-content {
		margin-top: 180px;
		margin-left: 50px;
	}
}

@include tablet {
	#masthead {
		overflow: hidden;
	}

	#masthead .wrap {
		max-width: 840px;
		padding-top: 0;
		position: relative;
		z-index: 10;
	}

	#pipe-tap {
		animation-name: spin;
		animation-duration: 3s;
		animation-direction: alternate;
		animation-delay: 5s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(.96, -0.08, .49, 1.58);
		animation-play-state: running;
		animation-iteration-count: infinite;
		position: absolute;
		top: 205px;
		left: -17px;
		width: 80px;
		height: 80px
	}

	#pipe-tap-2 {
		position: absolute;
		right: 280px;
		top: 55px;
	}

	#pipe-main-left,
	#pipe-main-right {
		position: absolute;
	}

	#pipe-main-left {
		left: -40px;
		top: 70px;
	}

	#pipe-main-right {
		right: 0;
		top: -70px;
	}

	.stretchy-pipe {
		background: $color__teal-light;
		height: 30px;
		position: absolute;
	}

	.stretchy-pipe-left {
		left: -100%;
		right: 100%;
		top: 495px;
	}

	.stretchy-pipe-center {
		left: 65px;
		right: 258px;
		top: 73px;
	}

	.stretchy-pipe-right {
		margin-left: -6px;
		left: 100%;
		right: -100%;
		top: 203px;
    }

	/* Move content block to right */
	#masthead .content-wrapper {
		position: relative;
		z-index: 1;
	}

	#masthead .intro-content {
		margin-left: 100px;
		max-width: 100%;
		min-height: 480px;
		width: 630px;
		padding: 160px 0 0;
	}
}

/* Rotation animation */
@keyframes spin {
	0%, 40% {
		transform: rotate(36deg);
	}

	45% {
		transform: rotate(-360deg);
	}

	50% {
		transform: rotate(-600deg)
	}

	55% {
		transform: rotate(-360deg)
	}

	60%, 100% {
		transform: rotate(36deg);
	}
}

.site-header {
	position: relative;
}

.site-title {
	font-family: $font__display;
	font-size: 6em;
	font-weight: normal;
	text-shadow:
			 3px 3px 0 $color__teal,
		 -1px -1px 0 $color__teal,
			1px -1px 0 $color__teal,
			-1px 1px 0 $color__teal,
			 1px 1px 0 $color__teal;
}

.site-description {
	margin-top: $size__gutter/2;
}
