// May be able to delete

#download-base {
	background-color: $color__teal-light;

	::after {
		clear: both;
		display: block;
		width: 100%;
		content: '';
	}

	.gears {
		width: calc(100% - 500px);
		position: relative;

		@include desktop {
			margin-left: 100px;
		}
	}

	#gear-double {
		height: 337px;
		position: absolute;
			left: -218px;
			top: -30px;
		transform: rotate(102deg);
		width: 337px;
	}

	#gear-holey {
		height: 140px;
		position: absolute;
			left: 104px;
			top: -10px;
		transform: rotate(-16deg);
		width: 140px;
	}

	#gear-wheelie {
		height: 180px;
		position: absolute;
			left: 109px;
			top: 129px;
		transform: rotate(-17deg);
		width: 180px;
	}

	.content-wrapper {
		float: right;
		padding: $size__gutter/2 0;
		max-width: 500px;
	}

	h2 {
		color: lighten($color__navy, 10%);
		position: relative;
		z-index: 4;
	}

	p {
		margin-top: 0;
		position: relative;
		z-index: 4;
	}

	.button {
		display: inline-block;
	}
}
