#generator {
	background-color: $color__navy-light;
	color: $color__offwhite;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;

	&[tabindex="-1"]:focus {
		outline: 0;
	}

	.wrap {
		max-width: 700px;
	}

	h2 {
		color: $color__teal-light;
	}
}

.generator-form {
	padding-bottom: 1.5em;
	position: relative;
	text-align: left;
}

.generator-form-submit {
	margin-top: $size__gutter/4;
}

.components-form-cancel {
	background-color: transparent;
	box-shadow: 0 0 transparent;
	color: $color__teal-light;
	display: none;
	font-size: 90%;
	margin-left: 20px;
	padding: 0;

	&:before {
		content: "\0078";
		display: inline-block;
		font-family: helvetica, arial, sans-serif;
		font-size: 80%;
		margin-right: 10px;
		text-transform: uppercase;
	}

	&:focus,
	&:hover {
		box-shadow: 0 0 transparent;
		color: lighten( $color__teal-light, 10% );
		top: auto;
	}

	&:active,
	&:focus {
		color: #fff;
		outline: 0;
	}
}

// Gear styles
.gear-set-one,
.gear-set-two {
	position: absolute;
	top: 0;
}

.gear-set-one {
	left: -225px;
	top: 0;

	svg {
		height: 552px;
		width: 800px;
	}
}

.gear-set-two {
	bottom: -100px;
	right: -180px;
	-ms-transform: rotate(190deg);
	-webkit-transform: rotate(190deg);
	transform: rotate(190deg);

	svg {
		height: 414px;
		width: 600px;
	}
}

.gear-set0 {
	fill: #23334e;
}

.gear-set1 {
	fill: #293b5a;
}

.gear-set2 {
	fill:#202f49;
}

/**
 * Media queries
 */
// Stack form on mobile and make sure there's a margin between the two elements
@include mobile {
	.generator-form-primary,
	.generator-form-secondary {
		margin-bottom: $size__gutter/2;
		width: 100%;
	}

	.generator-form-submit {
		text-align: center;
	}
}

// On tablets and larger, show two columns
@include tablet {
	.generator-form-primary {
		display: inline-block;
		width: 200px;
		vertical-align: top;
	}

	.generator-form-secondary {
		display: inline-block;
		width: calc(100% - 250px);
		vertical-align: top;
	}
}

// Adjust background elements and padding for smaller screens
@include desktop-max {
	#types #generator {
		left: -20px;
		right: -20px;
		width: calc( 100% + 40px );

		.wrap {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
