#types {
	background-color: $color__navy;
	color: $color__offwhite;

	a {
		color: $color__offwhite;
	}

	h2 {
		float: right;
		margin: 0;
		width: 68%;
	}

	h3 {
		color: $color__teal;
	}
}

.theme-slider {
	clear: both;
}
