/* Don't show masthead, since we're repeating it in the first panel */
#masthead {
  display: none;
}

@include mobile {

  /* Don't display pipes! */
  #pipe-top,
  #robot-chute {
    display: none;
  }

  /* Flip logo */
  #components-logo {
    margin-left: -10px;
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    width: 480px;
    margin-right: 200px;
    top: 0;
  }

  .site-description {
    margin-top: 0;
  }

  .intro-content {
    margin-left: 50px;
    min-height: 400px;
  }
}

@include desktop {
  #robot-chute {
    float: left;
    margin: 9px 0 -140px 50px;
    width: 300px;
  }

  #pipe-top {
    margin: -78px 0 0 -60px;
    width: 825px;
  }

  /* Move content block to right */
  #intro .wrap {
    float: left;
    width: calc(100% - 300px);
  }

  #intro .intro-content {
    margin: 40px auto 0;
    max-width: 650px;
  }
}

.site-title {
  font-family: $font__display;
  font-size: 6em;
  font-weight: normal;
  text-shadow:
       3px 3px 0 $color__teal,
     -1px -1px 0 $color__teal,
      1px -1px 0 $color__teal,
      -1px 1px 0 $color__teal,
       1px 1px 0 $color__teal;
}

.site-description {
  margin-top: -15px;
}
