#extra-info {
	.wrap::before,
	.wrap::after {
		content: "";
		display: table;
	}

	.wrap::after {
		clear: both;
	}
}

.octocat-robot svg {
	height: 150px;
	width: 150px;
}

@include mobile {
	.octocat-robot {
		display: none;
	}
}

@include tablet {
	#extra-info {
		.col {
			float: left;
			width: calc(50% - 90px);
		}

		.octocat-robot {
			float: left;
			padding-top: 50px;
			text-align: left;
			width: 180px;
		}

		.col:nth-of-type(even) {
			float: right;
		}
	}
}
