#selection {
	background-color: $color__navy;
	color: rgba( 255, 255, 255, 0.7 );
	overflow: hidden;
	position: relative;
	text-align: center;

	.types,
	.custom {
		padding: 40px 6em 3em;
		width: 50%;
	}

	strong {
		background: transparent;
		color: $color__offwhite;
	}

	.svg-container {
		display: block;
		margin: 0 auto;
	}

	.types {
		background-color: $color__navy-light;
		float: left;

		&:after {
			background-image: url(assets/img/gear-or.png);
			background-position: center;
			background-size: cover;
			content: "OR";
			display: table;
			font-family: "factoria", "Roboto Slab", serif;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 100px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			vertical-align: middle;
			width: 100px;
			height: 100px;
		}
	}

	#crate {
		width: 150px;
		height: 150px;
	}

	#cart {
		height: 150px;
		transform: rotate(-15deg);
	}

	.custom {
		background-color: $color__navy;
		float: right;
	}

	#toolbox {
		width: 236px;
		height: 150px;
	}

	h2 {
		color: $color__teal-light;
	}
}
