.site {
	margin: 0 auto;
	position: relative;
}

section {
	clear: both;
}

.wrap {
	margin: 0 auto;
	max-width: $size__max-content-width;
	padding: $size__gutter 0;
	position: relative;
}

.content-area {
	float: none;
	margin: 0;
	width: 100%;
}

.site-main {
	margin: 0;
}

.site-content .widget-area {
	float: none;
	overflow: hidden;
	width: 100%;
}

.site-footer {
	background: darken($color__offwhite, 8%);
	clear: both;
	color: rgba($color__navy, .6);
	font-family: $font__serif;
	@include font-size(0.8);
	font-weight: 500;
	letter-spacing: 1px;
	padding: 1.5em 0;
	text-align: center;
	text-transform: uppercase;
	width: $size__site-main;

	& a {
		border-bottom: 1px solid rgba($color__navy, .2);
		color: rgba($color__navy, .6);
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid rgba($color__navy, 0);
			color: rgba($color__navy, 1);
		}
	}
}

.site-info,
.automattic-credit {
	display: inline-block;
}

@include mobile {
	.wrap {
		padding-left: $size__gutter/2;
		padding-right: $size__gutter/2;
	}
}

@include tablet {
	.site-info::before {
		content: '';
		background: url('assets/img/tiny-gear.svg') no-repeat;
		background-size: cover;
		display: inline-block;
		height: 25px;
		margin: 0 4px;
		vertical-align: middle;
		width: 25px;
	}
}
