.site{
	margin: 0 auto;
}

.wrap {
	margin: 0 auto;
	max-width: $size__max-content-width;
	padding: 40px 0;
}

.content-area {
	float: none;
	margin: 0;
	width: 100%;
}

.site-main {
	margin: 0;
}

.site-content .widget-area {
	float: none;
	overflow: hidden;
	width: 100%;
}

.site-footer {
	background: $color__teal;
	clear: both;
	color: rgba($color__offwhite, .6);
	font-family: $font__serif;
	@include font-size(0.8);
	padding: 1.5em 0;
	text-align: center;
	text-transform: uppercase;
	width: $size__site-main;

	& a {
		border-bottom: 1px solid rgba($color__offwhite, .2);
		color: rgba($color__offwhite, .6);
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid rgba($color__offwhite, 0);
			color: rgba($color__offwhite, .9);
		}
	}
}
