$color__offwhite: #f3f2ed;
$color__navy: #141f32;
$color__teal: #509ea3;
$color__teal-light: #A0C3C6;
$color__pink: #EB6361;
$color__grey: #cbcac8;

.white {
  fill: $color__offwhite;
}

.teal {
  fill: $color__teal;
}

.teal-light {
  fill: $color__teal-light;
}

.teal-xlight {
  fill: darken($color__teal-light, 12%);
}

.teal-xxlight {
  fill: darken($color__teal-light, 10%);
}

.teal-xxxlight {
  fill: darken($color__teal-light, 8%);
}

.grey {
  fill: $color__grey;
}

.grey-light {
  fill: $color__grey;
}

.grey-dark {
  fill: darken($color__grey, 20%);
}

.navy {
  fill: $color__navy;
}
