button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border: none;
	border-radius: 5px;
	background: $color__pink;
	box-shadow: 0 6px darken($color__pink, 10%);
	color: $color__offwhite;
	@include font-size(0.75);
	font-family: $font__serif;
	@include font-size(1);
	font-weight: 500;
	line-height: 1;
	padding: 1em 2em .8em;
	position: relative;
	text-decoration: none;

	&:hover {
		box-shadow: 0 4px darken($color__pink, 10%);;
		top: 2px;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 darken($color__pink, 10%);
		top: 6px;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: 1px solid $color__grey;
	border-radius: 3px;

	&:focus {

	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
