button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border: none;
	border-radius: 5px;
	background: $color__pink;
	box-shadow: 0 6px darken($color__pink, 10%);
	color: $color__offwhite;
	display: inline-block;
	font-family: $font__serif;
	@include font-size(1.7);
	font-weight: 500;
	line-height: 1;
	padding: 1em 2em .8em;
	position: relative;
	text-decoration: none;

	&:hover {
		border-bottom: none;
		box-shadow: 0 4px darken($color__pink, 10%);;
		color: $color__offwhite;
		top: 2px;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 darken($color__pink, 10%);
		top: 6px;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background: lighten($color__teal-light, 20%);
	background: $color__offwhite;
	border: 2px solid $color__navy;
	border-radius: 5px;
	color: $color__navy;

	&:focus {
		background: #fff;
		border-color: $color__teal;
		color: $color__teal;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px 10px;
	margin-bottom: 10px;
	width: 100%;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

label {
	color: $color__teal-light;
	display: block;
	font-family: $font__serif;
	@include font-size(1.3);
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.required {
	color: $color__offwhite;
}
