body,
button,
input,
select,
textarea {
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading;
	line-height: $font__line-height-headers;

	a {
		text-decoration: none;
	}
}

h1 {
	color: $color__grey;
	font-family: $font__sans;
	font-size: $font__size-h1;
	letter-spacing: 2px;
	text-transform: uppercase;
	a {
		color: $color__grey;
	}
}

h2 {
	font-size: $font__size-h2;
	color: $color__pink;
	margin: $size__gutter/2 0 $size__gutter/4;
}

h3 {
	font-size: $font__size-h3;
	margin: $size__gutter/4 0;
}

h4 {
	font-size: $font__size-h4;
}

h5 {
	font-size: $font__size-h5;
}

h6 {
	font-size: $font__size-h6;
}

p {
	margin-bottom: 1.5em;
}

strong {
	background: transparentize($color__teal, 0.95);
	color: darken($color__teal, 10%);
	font-weight: 600;
	padding: 0 1px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__grey;
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}
